@font-face {
    font-family: 'UnimedSans2020-Bd';
    src: url('../fonts/UnimedSans2020-Bd.otf') format('opentype')
}

@font-face {
    font-family: 'UnimedSans2020-Rg';
    src: url('../fonts/UnimedSans2020-Rg.otf') format('opentype')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.image {
    height: auto;
    width: 65px;
    margin-left: 20px;
}

.image img {
    width: 190px;
    height: 90px;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'UnimedSans2020-Rg';
}

.top-bar {
    margin: 0.5%;
    width: 1800;
    height: 120px;
    border-radius: 20px;
    background: #00995D;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}


.bar-nav {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.form span {
    height: auto;
    margin-left: 40px;
    border: 2px #1e2950;
}

.form {
    align-items: center;
    margin-left: 150px;
}

.title-form {
    font-size: 180%;
    font-style: bold;
    font-variant-caps: all-petite-caps;
}

.campo {
    font-size: 130%;
    font-style: oblique;
}

.input-box {
    width: 200px;
    height: 23px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-style: oblique;
    cursor: pointer;
}



.button {
    width: 350px;
    height: 30%;
    padding: 0px;
    display: flex;
    justify-items: end;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.button button {
    width: 130px;
    height: 50px;
    margin-left: 50px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    background-color: #F37920;
    color: #ffffff;
    cursor: pointer;
}

.loading {
    width: 35px;
    animation: spin 0.5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



body .Cracha {
    margin: 10px;
    width: 210px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9eed2;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    animation: fadein 1s;
}



.Organizer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.overlayErro {
    width: 100%;
    display: flex;
    z-index: 9999;
    justify-content: center;
}

.errorMensage {
    width: 72%;
    margin: .9%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 75, 71, 0.323);
}

.errorMensage p {
    text-align: center;
    margin: .3em;
    font-weight: 700;
    font-size: .9em;
    font-family: 'UnimedSans2020-Rg';
}

.errorMensage button {
    width: 12%;
    height: 70%;
    font-size: .9em;
    margin-left: 2%;
    font-family: 'UnimedSans2020-Rg';
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 135, 135);
    cursor: pointer;
}



/* Crachá layout */

#imagemPreview {
    width: 200px;
    height: 320px;
    border-radius: 15px;
    position: relative;
    display: flex;
}

#versoPreview {
    display: none;
}

.crachaPreview {
    position: relative;
    display: flex;
    justify-content: center;
}

.crachanome {
    position: absolute;
    top: 121px;
    text-transform: uppercase;
    width: 180px;
    text-align: center;
    font-size: 14px;
    color: #134b47;
    font-family: 'UnimedSans2020-Bd';
}

.crachasetor {
    position: absolute;
    top: 132px;
    width: 180px;
    text-transform: uppercase;
    text-align: center;
    font-size: 8px;
    color: #2a9959;
    font-family: 'UnimedSans2020-Rg';
}



.crachauser {
    position: absolute;
    top: 46px;
    width: 115px;
    height: 136px;
    border-radius: 10px;

}

/* Crachá layout  Delete*/

.optionVision{
    width: 200px;
    height: 320px;
    border-radius: 15px;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: row-reverse;
}

.buttonOption{
    width: 27px;
    height: 27px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.328);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonOption img{
    width: 60%
}



.buttonOption:hover{
    width: 33px;
    height: 33px;
    margin: 8px;
}



@media print {


    .top-bar {
        display: none
    }

    body .Cracha {
        margin: 0;
        width: 53.98mm;
        height: 85.99mm;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
        border-radius: none;
        box-shadow: none;
        animation: none;
    }

    .optionVision{
        display: none;
    }

    #imagemPreview {
        width: 53.98mm;
        height: 85.99mm;
        border-radius: 0px;
        display: flex;
    }

    #versoPreview {
        width: 53.98mm;
        height: 85.99mm;
        border-radius: 0px;
        display: flex;
    }
}